DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_name

APP_URL=http://localhost:3000
PASS_PHASE=smart-bet
AUTH_SECRET=secret123
NODE_ENV=development
TZ=Asia/Bangkok
REDIS_SERVER=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=