DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_NAME_SUPPORT=



PASS_PHASE=
AUTH_SECRET=
NODE_ENV=development
TZ=Asia/Bangkok
REDIS_SERVER=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=


AFF_SETTING=https://aff-setting-ehhif4jpyq-as.a.run.app
AFF_MEMBER=https://aff-member-ehhif4jpyq-as.a.run.app



